#perent{
    border: 2px solid red important ;
    height: 200vh;
    cursor: pointer;
    background-color: aqua;
    padding: 20px;
    box-shadow: 10px 10px 15px 3px grey inset , -10px -10px 15px 3px grey inset ;
    

}

#child{
    border: 2px solid blue;
    width: 50%;

}

#div1{
    background-color: whitesmoke;
    border: 2px solid red;
    text-align: right;
    width: 500px;
    height: 300px;
    overflow: auto;
}

