#class{
    background-color: solid red;
    padding: 50px;
}
body{
    border: 1px dotted black;
}

#margin{
    margin: 50px;
    margin-top: 20px;
    margin-bottom:10px;
    margin-left:20px;
    margin-right: 40px ;
    width: 200px ;
    margin: 20px auto;

}
#colsp{
    margin-bottom: 50px auto;
    margin-right: 30px;
    margin-top: 20px ;
}

